/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
li:a {

}

body {
  font-family: 'VT323', monospace;
  font-size: 45px;
  text-align: center;
  background-color: #FFE6AD;
}

h1 {
  font-family: 'Ewert', cursive;
  font-size: 65px;
  text-align: center;
}
h3 {
  text-align: center;
}

button, a {
  padding: 10px;
  border-radius: 50px;
  border: 8px dashed #72B7BC;
  background-color: #FFE6AD;
  text-decoration: none;
  font-size: 30px;
  color: #515151;
}

li a {
  text-decoration: none;
  color: #515151;
  border: none;
}

ul {
  list-style: none;
}

.divisionIndexProjects, .divisionIndexEmployees, .divisionIndexProjects {
  display:inline-flex;
  padding: 10px;
  background-color: #FFE6AD;
  border-radius: 15px;
  margin: 10px;
  border: 8px solid #72B7BC;
  box-shadow: 3px 3px black;
  text-shadow: 1px 1px black;
  width: 25%;
}

 li a {
  font-size: 35px;
  color: #72B7BC;
  text-align: center;
}
